body{
    font-family: Arial, sans-serif;
    background: url('uploads/Fond.png') no-repeat center center fixed;
    background-size: cover;
}
.badge-notification {
    position: relative;
    top: -10px;
    left: -10px;
    padding: 0.25em 0.6em;
    font-size: 75%;
}

.navbar {
    background-color: rgba(15, 36, 158, 0.9) !important; /* Violet foncé avec opacité */
    border-bottom: 1px solid #F9D976; /* Bordure jaune pastel */
}

.navbar .nav-link {
    color: #FFFFFF !important; /* Texte blanc */
    font-weight: bold;
}

.navbar .nav-link:hover {
    color: #F9D976 !important; /* Jaune pastel au survol */
}

.navbar .btn-primary {
    background-color: #F9D976; /* Jaune pastel */
    color: #23059b; /* Texte violet foncé */
    border-color: #F9D976;
}

.navbar .btn-primary:hover {
    background-color: #D8B65A; /* Jaune plus foncé */
    border-color: #D8B65A;
}

@media (max-width: 992px) {
    .navbar-nav .dropdown-menu {
        position: static;
        float: none;
    }
}

.form-option {
    cursor: pointer;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}
.form-option.active {
    border-bottom: 3px solid #007bff;
}
.form-container {
    display: none;
}
.form-container.active {
    display: block;
}

